:root {
  /* Colors */
  --white: 255, 255, 255;  /* #FFFFFF */
  --black: 0, 0, 0;  /* #000000 */
  --text-100: 30, 37, 44;  /* #1E252C */
  --text-200: 0, 78, 146;  /* #004E92 */
  --text-300: 224, 224, 224;  /* #E0E0E0 */
  --text-400: 255, 254, 254;  /* #FFFEFE */
  --bg-body: 255, 254, 254;  /* #FFFEFE */
  --bg-100: 25, 57, 104;  /* #193968 */
  --bg-200: 46, 73, 122;  /* #2E4B7A */
  --bg-300: 75, 99, 150;  /* #4B6396 */
  --primary-100: 255, 193, 7;  /* #FFC907 */
  --primary-200: 221, 164, 0;  /* #DDA600 */
  --primary-300: 145, 100, 0;  /* #916400 */
  --primary-400: 255, 193, 52;  /* #FFC950 */
  --secondary-100: 236, 69, 104;  /* #EC4568 */
  --secondary-200: 214, 53, 58;  /* #D6333A */
  --secondary-300: 228, 8, 72;  /* #E80072 */
  --tertiary-100: 104, 213, 217;  /* #68D5D7 */
  --tertiary-200: 177, 218, 233;  /* #B3DAE9 */
  --accent-100: 76, 175, 80;  /* #4CBA50 */
  --accent-200: 0, 81, 0;  /* #005100 */
  --dark: 16, 14, 14;  /* #100E0E */
  --light:255,253,248;  /* #FFFEFE */

  --gray-gradient: rgba(var(--white), 10%), #fffefe;
  --box-shadow: 0 2px 6px rgba(var(--dark), 1.5%), 0 8px 24px rgba(var(--dark), 5%), 0 16px 32px rgba(var(--dark), 5%);

  /* Fonts */
  --heading-font: "Montserrat Variable", sans-serif;  /* Montserrat Variable */
  --body-font: "Lato", sans-serif;  /* Lato */
}

*::selection {
  background-color: rgb(var(--dark));
  color: rgb(var(--light));
}

html {
  font-family: system-ui, sans-serif;
  letter-spacing: -0.0063rem;
}

body,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

body {
  font-family: var(--body-font);
  color: rgb(var(--text-100));

}


p {
  color: rgb(var(--text-100));
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.section-title {
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 1.25rem;
  text-transform: none;
  color: rgb(var(--dark), 0.9);
  width: fit-content;
  padding: 0.0625rem 2.5rem 0.0625rem 1rem;
  border-radius: 6px;
  border: 2px solid rgb(var(--dark), 0.95);
  box-shadow: 0.1em 0.1em rgb(var(--dark), 0.95);
}

.suscribe-container {
  border: 1px solid rgb(var(--dark), 0.08);
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.suscribe-container p {
  font-size: 0.75rem;
  font-weight: 300;
  text-wrap: pretty;
  color: rgb(var(--dark), 0.75);
}

.box-left {
  display: flex;
  justify-content: flex-end;
  font-size: 0.625rem;
  color: rgb(var(--dark), 0.45);
}

.box-left .rss-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  background-color: rgb(var(--dark), 0.08);
}

.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }

  article {
    break-inside: avoid;
  }
}