:root {
  /* Colors */
  --white: 255, 255, 255;       /* #FFFFFF */
  --black: 0, 0, 0;             /* #000000 */
  --dark: 30, 37, 44;						/* #1E252C */
	--dark: 24, 24, 24;						/* #181818 */
	--light: 255, 253, 248;				/* #FFFEFE */  
  --accent-50: 0, 216, 255;			/* #00D8FF */
	--accent-55: 255, 83, 182;		/* #FF53B6 */
	--accent-60: 47, 72, 88;			/* #2D4858 */
  --accent-65: 0, 78, 146;       /* #004E92 */
	--primary-50: 255, 204, 51;		/* #FFCC33 */
  --gray-gradient: rgba(var(--white), 10%), #fffefe;
  --box-shadow: 0 2px 6px rgba(var(--dark), 1.5%), 0 8px 24px rgba(var(--dark), 5%), 0 16px 32px rgba(var(--dark), 5%);
  /* Fonts */
  --heading-font: "Montserrat Variable", sans-serif;  /* Montserrat Variable */
  --body-font: "Lato", sans-serif;  /* Lato */
  --mono-font: 'Source Code Pro Variable', monospace;  /* Source Code Pro Variable */
}

*::selection {
  background-color: rgb(var(--primary-50));
  color: rgb(var(--dark));
}

html {
  font-family: system-ui, sans-serif;
  letter-spacing: -0.0063rem;
}

body,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

body {
  font-family: var(--body-font);
  color: rgb(var(--dark));
}

p {
  color: rgb(var(--dark));
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.area_section-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* background-color: rgb(var(--dark), 0.025); */
  color: rgb(var(--dark), 0.9);
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--dark), 0.05);
}



.area_section-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* background-color: rgb(var(--dark), 0.025); */
  color: rgb(var(--dark), 0.9);
  border-radius: 0.5rem;
  /* border: 1px solid rgb(var(--dark), 0.05); */
}

.section-title {
  font-size: clamp(18px, 1.5vw, 20px);
  font-weight: 700;
  text-wrap: pretty;
  letter-spacing: -0.025rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.parrafo {
  font-size: 14px;
  font-weight: 300;
  text-wrap: pretty;
  /* letter-spacing: 0.025rem; */
  line-height: 1.4;
  color: rgb(var(--dark), 0.65);
}

/* .section-title {
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 1.25rem;
  text-transform: none;
  color: rgb(var(--dark), 0.9);
  width: fit-content;
  padding: 0.0625rem 2.5rem 0.0625rem 1rem;
  border-radius: 6px;
  border: 2px solid rgb(var(--dark), 0.95);
  box-shadow: 0.1em 0.1em rgb(var(--dark), 0.95);
} */

/* .suscribe-container {
  border: 1px solid rgb(var(--dark), 0.08);
  padding: 0.5rem;
  margin-bottom: 2rem;
} */

/* .suscribe-container p {
  font-size: 0.75rem;
  font-weight: 300;
  text-wrap: pretty;
  color: rgb(var(--dark), 0.75);
} */

/* .box-left {
  display: flex;
  justify-content: flex-end;
  font-size: 0.625rem;
  color: rgb(var(--dark), 0.45);
} */

/* .box-left .rss-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  background-color: rgb(var(--dark), 0.08);
} */

.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }

  article {
    break-inside: avoid;
  }
}