---
import Section from "../Section.astro";
import User from "@/icons/User.astro";
import Download from "@/icons/DownLoad2.astro";

import { basics } from "@landing";
const { summary } = basics;
---

<Section>
  <h2 class="section-title flex items-center gap-1"><User />Sobre mí</h2>
  <p class="text-pretty font-light text-sm">{summary}</p>  
</Section>

<style>
  
</style>
