---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import File from "@/icons/File.astro";
const allPosts = await Astro.glob("@/pages/posts/*.md");
---
<Section>
  <div class="area_section-2">
    <h2 class="section-title">
      <News2 />Blog | Posts publicados
    </h2>

    <p class="parrafo">
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <ul class="blog-posts">
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url} class="posts">
              <File />
              <div class="text-post">
                <h3 class="title">{post.frontmatter.title}</h3>
                <p class="textos line-clamp-1">{post.frontmatter.description}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Section>

<style>
  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  li {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  li:hover {
    background-color: rgb(var(--accent-50), 0.05);    
  }
  .posts {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .text-post {    
    border-left: 1px solid rgb(var(--dark), 0.25);
    padding-left: 0.5rem;
  }
  li .title {
    font-size: 14px;
    font-weight: 600;
  }
  li .textos {
    font-size: 12px;
    font-weight: 300;
  }    
</style>
