---
import Section from "../Section.astro";
import { Rss } from "simple-icons-astro";
import Filetextfill from "@/icons/Filetextfill.astro";

const allPosts = await Astro.glob("@/pages/posts/*.md");
---

<Section>
  <h2 class="section-title">Blog & Notas</h2>

  <article class="suscribe-container">
    <p>
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <div class="box-left">
      <a href="#" class="rss-btn">
        <Rss class="h-3 w-3" />
        <!-- <span>Suscríbete</span> -->
      </a>
    </div>
  </article>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>
            <Filetextfill />
            <h3>{post.frontmatter.title}</h3>
          </a>
          <p>{post.frontmatter.description}</p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 8px;
    margin-top: 2rem;
    padding: 1rem;
  }

  li {
    width: 300px;
    height: 76px;
    border-top: 3px solid rgb(22, 20, 20, 1);
    padding: 4px 8px;
    transition: all 0.2s ease-in-out;
  }

  li:hover {
    background-color: var(--clr-yellow);
  }

  li a {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  li a h3 {
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  li p {
    font-size: 12px;
    text-wrap: pretty;
    color: rgb(22, 20, 20, 0.65);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (width <= 700px) {
    /* ul {
      flex-direction: row;
      justify-content: center;
    }
    li {
      width: 300px;
      height: 66px;
    } */
  }
</style>
