---
import Section from "../Section.astro";
import { Rss } from "simple-icons-astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import RightArrow from "@/icons/RightArrow.astro";

const allPosts = await Astro.glob("@/pages/posts/*.md");
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <News2 /> Blog | Social Media Posts
  </h2>

  <article class="suscribe-container">
    <p>
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <div class="box-left">
      <a href="#" class="rss-btn">
        <Rss class="h-3 w-3" />
        <!-- <span>Suscríbete</span> -->
      </a>
    </div>
  </article>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>
            <News />
            <h3>{post.frontmatter.title}</h3>
          </a>
          <p>{post.frontmatter.description}</p>
          <button>
            <a href={post.url}>
              Leer más <RightArrow />
            </a>
          </button>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(30, 37, 44, 0.02);
  }
  li a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1px;
    text-underline-offset: 4px;
    color: rgb(30, 37, 44, 1);
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  li a:hover {
    text-decoration: underline;
  }
  li p {
    font-size: 14px;
    line-height: 1.4;
    color: rgb(30, 37, 44, 0.65);
    text-wrap: pretty;
    
  }
  li button a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 12px;
  }

  @media (width <= 700px) {
    /* ul {
      flex-direction: row;
      justify-content: center;
    }
    li {
      width: 300px;
      height: 66px;
    } */
  }
</style>
