---
import Section from "../Section.astro";
import Radar from "@/icons/Radar.astro";
import { basics } from "@landing";
const { name, profiles } = basics;
import {
  Github,
  Instagram,
  Linkedin,
  Threads,
  X,
  Mastodon,
  Facebook,
} from "simple-icons-astro";
---
<Section>
  <div class="area_section-2">
    <h2 class="section-title">
      <Radar />Encuéntrame en:
    </h2>
    <footer>
      <div class="avatar flex flex-col items-center gap-1">
        <img src="../images/avatar.svg" alt=`${name}` class="avatar-img" />
        <h3>
          Edinson Rivera Jurado <span>•</span> Desarrollo Web <span>•</span> Community
          Manager
        </h3>
      </div>
      <p class="copyright">© 2024 Copyright —@edirju</p>

      <div class="social-links">
        <a
          href="https://www.linkedin.com/in/edinson-rivera-jurado-65187927/"
          target="_blank"
        >
          <span class="sr-only">Ir a perfil de Linkedin</span>
          <Linkedin />
        </a>
        <a href="https://github.com/Edirju" target="_blank">
          <span class="sr-only">Go to Astro's GitHub repo</span>
          <Github />
        </a>
        <a href="https://twitter.com/edinson_rivera" target="_blank">
          <span class="sr-only">Follow Astro on Twitter</span>
          <X />
        </a>
        <a href="https://mastodon.social/@edirju" target="_blank">
          <span class="sr-only">Follow Astro on Mastodon</span>
          <Mastodon />
        </a>
        <a href="https://www.instagram.com/edirju/" target="_blank">
          <span class="sr-only">Ir a perfil de Instagram</span>
          <Instagram />
        </a>
        <a href="https://www.threads.net/@edirju" target="_blank">
          <span class="sr-only">Ir a perfil de Threads</span>
          <Threads />
        </a>
        <a href="https://www.facebook.com/edirjudev" target="_blank">
          <span class="sr-only">Ir a perfil de Facebook</span>
          <Facebook />
        </a>
      </div>
    </footer>
  </div>
</Section>

<style>
  footer {
    padding: 0 1em 0 1em;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -0.025em;
    color: rgb(var(--dark), 0.8);
  }
  p {
    color: rgb(var(--dark), 0.5);
    font-size: 14px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--dark), 0.75);
    transition-property: transform, color;
    transition-duration: 0.3s, 0.5s;
    transition-delay: 0s, 0.1s;
  }
  .social-links a:hover {
    color: rgb(var(--accent-50), 1);
    transform: scale(1.2) rotate(360deg);
  }  
</style>
