---
import Section from "../Section.astro";
import Logo from "@/icons/Logo.astro";
import Download from "@/icons/DownLoad2.astro";
import Home from "@/icons/Home.astro";
import Briefcase from "@/icons/BriefCaseAlt.astro";
import News from "@/icons/News.astro";
---

<Section>
  <header class="text-gray-600 body-font" transition:animate="slide">
    <div
      class="container mx-auto flex flex-wrap py-4 flex-col md:flex-row items-center"
    >
      <a
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <Logo />
        <h3 class="ml-2 text-xl font-bold tracking-tighter">Edinson.</h3>
      </a>

      <nav
        class="md:ml-auto md:mr-auto flex flex-wrap gap-4 items-center text-base justify-center"
      >
        <a class=" hover:text-gray-900 flex items-center gap-1" href="/">
          <Home />
          Inicio
        </a>
        <a
          class=" hover:text-gray-900 flex items-center gap-1"
          href="/blog"
        >
          <News />Blogposts
        </a>
        <a
          class=" hover:text-gray-900 flex items-center gap-1"
          href="/proyectos"
        >
          <Briefcase />Proyectos
        </a>
      </nav>

      <a
        class="inline-flex items-center gap-1 bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm mt-4 md:mt-0"
        href="/resume"
        target="_blank"
      >
        Resume
        <Download class="w-4 h-4" />
      </a>
    </div>
  </header>  
</Section>

<style>
  

</style>
