---
import Section from "../Section.astro";
import Logo from "@/icons/Logo.astro";
import Data from "@/icons/Data.astro";
import News from "@/icons/News.astro";
import Download from "@/icons/DownLoad2.astro";
import { Github, X, Instagram, Threads, Linkedin } from "simple-icons-astro";
---

<Section>
  <header class="header" transition:animate="slide">
    <div
      class="container flex items-center justify-between py-4 md:flex-row flex-col mx-auto"
    >
      <a href="/" class="logo">
        <h2 class="flex items-center gap-1 mb-4 md:mb-0 tracking-tighter">
          <Logo />
          <span class="text-2xl font-bold"
            >edirju<span class="text-[#00D8FF]">dev</span>.</span
          >
        </h2>
      </a>

      <nav class="navbar flex items-center gap-4 uppercase tracking-tighter">
        <a class="nav-link" href="/blog">
          <News />Blogposts
        </a>
        <a class="nav-link" href="/proyectos">
          <Data />Proyectos
        </a>
      </nav>

      <!-- <div
        class="social-links inline-flex items-center gap-4 border-0 py-1 px-3 focus:outline-none mt-4 md:mt-0"
      >
        <a
          href="https://www.linkedin.com/in/edinson-rivera-jurado/"
          target="_blank"
          class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--text-200),.8)] hover:drop-shadow-lg"
          title="Visitar perfil en Linkedin"
        >
          <span class="sr-only">Follow Edinson on Linkedin</span>
          <Linkedin />
        </a>
        <a
          href="https://github.com/Edirju"
          target="_blank"
          class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--text-200),.8)] hover:drop-shadow-lg"
          title="Visitar perfil de GitHub"
        >
          <span class="sr-only">Go to Edinson's GitHub repo</span>
          <Github />
        </a>
        <a
          href="/resume"
          target="_blank"
          class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--text-200),.8)] hover:drop-shadow-lg"
          title="Ver Curriculum Vitae"
        >
          <span class="sr-only">Download Edinson's Resume</span>
          <Download />
        </a>

        <!-- <a
          class="inline-flex items-center gap-1 bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm mt-4 md:mt-0"
          href="/resume"
          target="_blank"
        >
          
          <Download class="w-4 h-4" />
        </a> 
      </div> -->
    </div>
  </header>
</Section>

<style>
  header {
    color: rgb(var(--dark), 0.9);
  }
  .container {
    border-bottom: 1px solid rgb(var(--dark), 0.1);
  }
  .logo {
    font-size: clamp(20px, 1.5vw, 24px);
  }
  .logo:hover {
    text-shadow: 0 0 0.5rem rgb(var(--accent-50), 0.15);
  }
  .navbar {
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 300;
  }
  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-emphasis: none;
    transition: all 0.2s ease;
  }
  .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(var(--accent-50), 0.9);
    text-shadow: 0 0 0.5rem rgb(var(--dark), 0.2);
  }
</style>
