---
import Section from "../Section.astro";
import Logo from "@/icons/Logo.astro";
import Home from "@/icons/Home.astro";
---

<Section>
  <header class="text-gray-600 body-font " transition:animate="slide">
    <div
      class="container mx-auto flex flex-row items-center justify-between pt-4"
    >
      <a
        class="flex title-font font-medium items-center text-gray-900 "
      >
        <Logo />
        <h3 class="ml-2 text-xl font-bold tracking-tighter">
          Edinson.
        </h3>
      </a>      

      <a
        class="inline-flex items-center gap-1 bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm  md:mt-0"
        href="/"
      >
        Regresar
        <Home class="w-4 h-4" />
      </a>
    </div>
  </header>  
</Section>

<style>  
  
</style>
