---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import { Rss} from "simple-icons-astro";
import { posts } from "@social";
---

<Section>
  <div class="area_section-2">
    <h2 class="section-title">
      <News2 />Blog | Social Media posts
    </h2>
    <p class="parrafo">
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <ul class="blog-posts">
      {
        posts.map(({ network, title, description, url }) => {
          return (
            <li>
              <a
                href={url}
                title={`Ver el proyecto ${network}`}
                target="_blank"
                class="posts"
              >
                <Rss class="w-4 h-4" />
                <div class="text-post">
                  <h3 class="title">{title}</h3>
                  <p class="textos line-clamp-1">{network}</p>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>

<style>
  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  li {
    /* border: 1px solid rgb(var(--dark), 0.1); */
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  li:hover {
    background-color: rgb(var(--accent-50), 0.05);
    /* color: rgb(var(--dark), 0.95); */
  }
  .posts {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .text-post {
    border-left: 1px solid rgb(var(--dark), 0.25);
    padding-left: 0.5rem;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .textos {
    font-size: 12px;
    font-weight: 300;
  }

  
  @media (width <= 700px) {
  
  }
</style>
