---
import Section from "../Section.astro";
import { projects, projectsB } from "@landing";

import {
  Rss,
  Github,
  Html5,
  Css3,
  React,
  Javascript,
  Python,
  Vite,
} from "simple-icons-astro";
import Circle from "@/icons/circle.astro";
import AstroIcon from "@/icons/AstroIcon.astro";

const SKILL_ICONS: Record<string, any> = {
  Html5,
  Css3,
  React,
  Javascript,
  AstroIcon,
  Vite,
};
---

<Section>
  <h2 class="section-title">Proyectos</h2>

  <article class="suscribe-container">
    <p>
      Los pequeños detalles marcan una gran diferencia. Con los años he
      aprendido a fijarme en esos detalles. Nunca dejo de aprender. He aquí
      varias recopilaciones a lo largo de este camino.
    </p>

    <div class="box-left">
      <a href="#" class="rss-btn">
        <Rss class="h-3 w-3" />
        <!-- <span>Suscríbete</span> -->
      </a>
    </div>
  </article>

  <article class="projects-container">
    <header>
      <h3>
        Con HTML, CSS y JS
        <span class="text-red-400"><Circle /></span>
        <span class="text-blue-400"><Circle /></span>
        <span class="text-yellow-500"><Circle /></span>
      </h3>
      <p>
        Presento alguno de mis proyectos destacados enfocados en el uso de HTML
        semantico, reglas CSS y funcionalidades en Javascript.
      </p>
    </header>

    <ul class="projects-items">
      {
        projects.map(
          ({ url, description, highlights, name, isActive, github, skill }) => {
            const Icon = SKILL_ICONS[skill];

            return (
              <li>
                <article>
                  {Icon && <Icon class="w-4 h-4" />}
                  <header>
                    <a href={url} target="_blank">
                      {name}
                    </a>
                    {isActive && <span>•</span>}
                    {github && (
                      <a href="">
                        <Github class="w-4 h-4" />
                      </a>
                    )}
                  </header>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
  </article>

  <article class="projects-container">
    <header>
      <h3>
        Con Frameworks
        <span class="text-green-400"><Circle /></span>
        <span class="text-red-600"><Circle /></span>
        <span class="text-purple-500"><Circle /></span>
      </h3>
      <p>
        Algunos de mis proyectos, prácticas que brindan una idea de mi experiencia y habilidades, asi como de la variedad de soluciones que
        puedo ofrecer.
      </p>
    </header>

    <ul class="projects-items">
      {
        projectsB.map(
          ({ url, description, highlights, name, isActive, github, skill }) => {
            const Icon = SKILL_ICONS[skill];

            return (
              <li>
                <article>
                  {Icon && <Icon class="w-4 h-4" />}
                  <header>
                    <a href={url} target="_blank">
                      {name}
                    </a>
                    {isActive && <span>•</span>}
                    {github && (
                      <a href="">
                        <Github class="w-4 h-4" />
                      </a>
                    )}
                  </header>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
  </article>
</Section>

<style>
  .projects-container {
    border: 1px solid rgb(22, 20, 20, 0.05);
    background-color: rgb(22, 20, 20, 0.015);
    border-radius: 8px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  }

  .projects-container header h3 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    text-wrap: pretty;
  }

  .projects-container header p {
    font-size: 12px;
    font-style: normal;
    color: rgb(22, 20, 20, 0.8);
    text-wrap: pretty;
  }

  .projects-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-inline: -8px;
  }

  .projects-items li article {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid rgb(22, 20, 20, 0.15);
    padding: 2px 4px;
    width: fit-content;
    height: 100%;

    transition: all 0.3s ease-in-out;
  }

  .projects-items li article:hover {
    background-color: var(--clr-yellow);
  }

  .projects-items li article header {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: rgb(22, 20, 20, 0.65);
  }

  .projects-items li article header a:hover {
    text-decoration: underline;
  }

  .projects-items li article header span {
    color: rgb(0, 188, 47, 1);
    font-size: 1rem;
  }

  @media (width <= 700px) {
    .projects-items {
      margin-inline: 0;
      margin-top: 1rem;
    }
  }
</style>
