---
import Section from "../Section.astro";
import { skills } from "@landing";

import {
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
} from "simple-icons-astro";
import Astrojs from "@/icons/AstroIcon.astro";
import Next from "@/icons/Next.astro";
import Node from "@/icons/Node.astro";

const SKILLS_ICONS: Record<string, any> = {
  Astrojs,
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Next,
  Node,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
};
---

<Section>
  <h2 class="section-title">Habilidades</h2>
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "HTML" ? "Html5" : name;
        const Icon = SKILLS_ICONS[iconName];

        if (!Icon) {
          console.error(`Icono no encontrado para la red: ${name}`);
          return null;
        }

        return (
          <li>
            <Icon class="w-4 h-4" />
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    background-color: rgb(22, 20, 20, 0.06);
    color: rgb(22, 20, 20, 1);
    padding: 4px;

    transition: all 0.2s ease-in-out;
  }

  li:hover {
    background-color: var(--clr-yellow);
  }
</style>
