---
import Section from "../Section.astro";
import { skills } from "@landing";

import {
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
  Rss,
} from "simple-icons-astro";
import Astrojs from "@/icons/AstroIcon.astro";
import Next from "@/icons/Next.astro";
import Node from "@/icons/Node.astro";
import Briefcase from "@/icons/BriefCaseAlt.astro";

const SKILLS_ICONS: Record<string, any> = {
  Astrojs,
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Next,
  Node,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
  Rss,
};
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <Briefcase /> Cosas con las que trabajo
  </h2>

  <article class="suscribe-container">
    <p>
      Tengo la inquietante necesidad de construir cosas. A veces el trabajo
      fluye con facilidad, otras veces me cuestiono mis decisiones. E pluribus
      unum.
    </p>

    <!-- <div class="box-left">
      <a href="#" class="rss-btn">
        <Rss class="h-3 w-3" />
         <span>Suscríbete</span> 
      </a>
    </div> -->
  </article>

  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "HTML" ? "Html5" : name;
        const Icon = SKILLS_ICONS[iconName];

        if (!Icon) {
          console.error(`Icono no encontrado para la red: ${name}`);
          return null;
        }

        return (
          <li>
            <Icon class="w-4 h-4" />
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(30, 37, 44, 0.06);
    color: var(--clr-dark);
    padding: 4px;
    transition: all 0.2s ease-in-out;
  }

  li:hover {
    background-color: var(--clr-yellow);
  }
</style>
