---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/resume/Hero.astro";
import About from "@/components/resume/About.astro";
import Experience from "@/components/resume/Experience.astro";
import Education from "@/components/resume/Education.astro";
import Skills from "@/components/resume/Skills.astro";
import Projects from "@/components/resume/Projects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Curriculum Vitae de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>

<style>
  body {
    font-family: "Inconsolata Variable", monospace;
  }
  main {
    margin: 64px 0;
    /* padding: 4rem;
    margin: auto;
    width: 100%; */
  }

  @media (width <= 700px) {
    main {
      margin: 32px 0;
      /* padding: 2rem; */
    }
  }
</style>
